.game {
  @apply relative h-full w-full select-none overflow-hidden bg-black;

  .background {
    @apply relative h-full w-full overflow-hidden;

    & > div {
      @apply absolute inset-0 h-full w-full;
    }
  }

  .figure {
    @apply absolute inset-0 h-full w-full overflow-hidden;
    transition: background 0.5s;
  }

  .console {
    @apply absolute bottom-0 left-0 h-1/3 w-full text-white transition-opacity duration-500;
    background-image: linear-gradient(
      to top,
      #0008 0%,
      #0003 90%,
      transparent 100%
    );

    .name {
      @apply mx-24 font-bold;
      // text-shadow: 0 0 4px black;

      &::before {
        content: "「";
      }

      &::after {
        content: "」";
      }

      &:empty::before,
      &:empty::after {
        content: "";
        display: inline-block;
      }
    }

    .text {
      @apply relative mx-28;

      :first-child {
        @apply mr-2 font-bold text-transparent;

        background: linear-gradient(white 0 0),
          linear-gradient(to right, white, transparent);
        background-size: 0 100%, 3rem 100%;
        background-position: 0 0, 0 0;
        background-repeat: no-repeat;
        animation: text-show-up 1s linear forwards;

        background-clip: text;
      }

      @keyframes text-show-up {
        to {
          background-size: 100% 100%, 3rem 100%;
          background-position: 0 0, calc(100% + 3rem) 0;
        }
      }

      .indicator {
        @apply inline-block h-4 w-4 bg-lime-500 align-middle;
        animation: img-bounce 0.8571428571428571s ease-in-out infinite alternate,
          fade-in 300ms linear forwards;
        mask-image: url(../assets/images/icons/dendro.webp);
        mask-size: cover;
      }

      @keyframes img-bounce {
        from {
          transform: translate(0, 0) scale(1.25, 1.25);
        }
        to {
          transform: translate(0, -0.125rem) scale(-1.25, 1.25);
        }
      }

      @keyframes fade-in {
        from {
          @apply opacity-0;
        }
        to {
          @apply opacity-100;
        }
      }
    }
  }

  .selection {
    @apply absolute inset-x-0 top-0 h-2/3 w-full py-8;

    .option {
      @apply mx-auto my-4 w-1/2 cursor-pointer rounded-full bg-black/20 py-2 text-center text-white transition-colors hover:bg-black/40;
    }
  }
}
